# Final Analysis for Publication

This is the final analysis.

## Data Import

see: `etl/1_download_all_years_cms.py`

In [1]:
import duckdb
import pandas as pd
# No need to import duckdb_engine
#  jupysql will auto-detect the driver needed based on the connection string!

# Import jupysql Jupyter extension to create SQL cells
%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False
%sql duckdb:///:default:

## Number of 4 and 5 star facilties with IJ on their record

Script Language:

> OUR SCRIPPS NEWS ANALYSIS OF GOVERNMENT DATA FROM FEBRUARY 2024 FOUND 247 NURSING HOMES ACROSS THE UNITED STATES...IN SIMILAR SITUATIONS -- HOLDING TOP OVERALL RATINGS -- A FOUR OR A FIVE - DESPITE "IMMEDIATE JEOPARDY‚Äù FINDINGS THAT RESIDENTS HAD BEEN PLACED AT RISK IN THE LAST THREE YEARS -- SINCE FEBRUARY 2021.

Data Analysis in duckdb. Run inside the `data/source/nursinghome-compare/2024/02` subdirectory.

In [2]:
%%sql

SELECT min(cast(replace("1 star", '>', '') as double)) FROM '../data/source/nursinghome-compare/2024/02/NH_HlthInspecCutpointsState_Feb2024.parquet';

   min(CAST(replace("1 star", '>', '') AS DOUBLE))
0                                           33.667

In [3]:
%%sql

/* This filters "NH_HealthCitations_Feb2024.parquet" for immediate jeopardy findings.
Scope severity codes J and above constitute findings of "immediate jeopardy" (IJ). 
J is for isolated cases of immediate jeopardy, K is for a pattern, and L is for if those cases are widespread.*/

CREATE table facilities_wih_ij as   
SELECT distinct ccn 
from ( 
    SELECT DISTINCT "CMS CERTIFICATION NUMBER (CCN)" as ccn 
    FROM '../data/source/nursinghome-compare/2024/02/NH_HealthCitations_Feb2024.parquet'
    WHERE ( "Scope Severity Code" LIKE 'J' OR  "Scope Severity Code" LIKE 'K' OR  "Scope Severity Code" like 'L')
	AND CAST("Survey Date" as date) >= CAST( '2021-02-01' as date));

SELECT COUNT(*) from facilities_wih_ij;

   count_star()
0          3597

In [4]:
%%sql

/* This counts the number of facilities in the February 2024 snapshot with an overall rating of 4 or higher. */

SELECT COUNT(*) 
FROM "../data/source/nursinghome-compare/2024/02/NH_ProviderInfo_Feb2024.parquet" 
	INNER JOIN facilities_wih_ij ON "CMS CERTIFICATION NUMBER (CCN)" = ccn
WHERE CAST("Overall Rating" AS INTEGER) >= 4 ;

   count_star()
0           247

In [5]:
%%sql

/* This counts the number of facilities in the February 2024 snapshot with a health inspection rating of 4 or higher. */

SELECT COUNT(*)

FROM "../data/source/nursinghome-compare/2024/02/NH_ProviderInfo_Feb2024.parquet" INNER JOIN
 	facilities_wih_ij ON "CMS CERTIFICATION NUMBER (CCN)" = ccn
WHERE CAST("Health Inspection Rating" AS INTEGER) >= 4;

   count_star()
0           153

In [6]:
%%sql

/* This counts the number of facilities in the February 2024 snapshot with a health inspection rating of 5. */

SELECT COUNT(*)
from "../data/source/nursinghome-compare/2024/02/NH_ProviderInfo_Feb2024.parquet" INNER JOIN
 	facilities_wih_ij on "CMS CERTIFICATION NUMBER (CCN)" = ccn
WHERE CAST("Health Inspection Rating" AS INTEGER) = 5;

   count_star()
0             7

In [7]:
%%sql
/* This table counts the number of facilities (count_star()) within each rating tier (overall_rating) and the average number of penalties (mean(CAST("Total Number of Penalties" AS INTEGER))) within that tier. */

SELECT "Overall Rating", count(*), mean(CAST("Total Number of Penalties" as INTEGER)) 
from "../data/source/nursinghome-compare/2024/02/NH_ProviderInfo_Feb2024.parquet" INNER JOIN 
	facilities_wih_ij ON "CMS CERTIFICATION NUMBER (CCN)" = ccn
GROUP BY 1 
ORDER BY 1;

,Overall Rating,count_star(),"mean(CAST(""Total Number of Penalties"" AS INTEGER))"
0,1,1883,5.154541
1,2,1001,3.543457
2,3,393,2.918575
3,4,180,2.511111
4,5,67,1.716418
5,None,73,8.383562

## Rating histories

Script language:
>OUR INVESTIGATION FOUND THE FACILITY STILL HELD ON TO ITS TOP OVERALL RATING...5 STARS...FOR SEVEN MONTHS AFTER KAREN DIED

Karen died December 13, 2022. Touchmark on South Hill's rating dropped to a 4 July 1st, 2022.

In [8]:
# Read our etl file
fd = open('../etl/2_ratings_sql_macro.sql', 'r')
sqlFile = fd.read()
fd.close()

# It's a single command
sqlCommand = sqlFile.split(';')[0]

try:
        duckdb.sql(sqlCommand)
except:
        print("Command skipped")

In [9]:
/* Touchmark ratings */
%%sql

select * from ratings_by_provider_over_time('505498');

SyntaxError: invalid syntax (3316142130.py, line 1)

Two other homes -- "Willowbrooke Court" of Pennsylvania and "Good Samaritan Society" of Minnesota are mentioned in the piece as maintaining a 4 or 5 star overall rating despite immediate jeopardy findings.

Script language:

>IN PENNSYLVANIA...RECORDS AND PHOTOS SCRIPPS NEWS OBTAINED REVEAL AN ELDERLY WOMAN FROZE TO DEATH OUTSIDE HER NURSING HOME ‚Äì IN 2021- AFTER STAFF FAILED TO NOTICE SHE WAS MISSING.

>AND IN MINNESOTA THAT SAME YEAR...A RESIDENT SLIPPED OUT OF his FACILITY, BOUGHT A KNIFE, AND KILLED HIMSELF. AN INVESTIGATION FOUND STAFF FAILED TO CALL POLICE FOR MORE THAN 30 MINUTES TO REPORT THAT THE resident HAD LEFT THE SITE.

>SINCE THE INCIDENTS....BOTH FACILITIES HAVE MAINTAINED A TOP RATING ‚Äì EITHER A FOUR OR A FIVE.

In [ ]:
%sql select * from ratings_by_provider_over_time('395490');

,Federal Provider Number,Provider Name,Provider State,Overall Rating,Health Inspection Rating,Processing Date
0,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2020-08-01
1,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2020-09-01
2,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2020-10-01
3,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2020-11-01
4,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2020-11-01
5,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2021-01-01
6,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2021-02-01
7,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2021-03-01
8,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2021-04-01
9,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2021-05-01
10,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2021-06-01
11,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2021-07-01
12,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2021-08-01
13,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2021-09-01
14,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2021-10-01
15,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2021-10-01
16,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2021-11-01
17,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2022-01-01
18,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2022-02-01
19,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2022-03-01
20,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2022-04-01
21,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,3,2022-05-01
22,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,3,2022-06-01
23,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,4,3,2022-07-01
24,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,4,3,2022-08-01
25,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,4,3,2022-09-01
26,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,3,2022-10-01
27,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,3,2022-10-01
28,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,3,2022-11-01
29,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,3,2023-01-01
30,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,3,2023-02-01
31,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,3,2023-03-01
32,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,3,2023-04-01
33,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,3,2023-05-01
34,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2023-06-01
35,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2023-07-01
36,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2023-08-01
37,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2023-09-01
38,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2023-10-01
39,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2023-10-01
40,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2023-11-01
41,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2024-01-01
42,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2024-02-01
43,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,4,2024-03-01
44,395490,WILLOWBROOKE COURT-SOUTHAMPTON,PA,5,5,2024-04-01

In [ ]:
%sql select * from ratings_by_provider_over_time('245441');

,Federal Provider Number,Provider Name,Provider State,Overall Rating,Health Inspection Rating,Processing Date
0,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2020-08-01
1,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2020-09-01
2,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2020-10-01
3,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2020-11-01
4,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2020-11-01
5,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2021-01-01
6,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2021-02-01
7,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2021-03-01
8,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2021-04-01
9,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2021-05-01
10,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2021-06-01
11,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2021-07-01
12,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2021-08-01
13,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2021-09-01
14,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2021-10-01
15,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2021-10-01
16,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,5,2021-11-01
17,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,5,2022-01-01
18,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,5,2022-02-01
19,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,5,2022-03-01
20,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,5,2022-04-01
21,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,5,2022-05-01
22,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,5,2022-06-01
23,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,5,2022-07-01
24,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,5,2022-08-01
25,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2022-09-01
26,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2022-10-01
27,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2022-10-01
28,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2022-11-01
29,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,4,3,2023-01-01
30,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,4,3,2023-02-01
31,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,4,3,2023-03-01
32,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,4,3,2023-04-01
33,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,4,3,2023-05-01
34,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,4,3,2023-06-01
35,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,4,3,2023-07-01
36,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2023-08-01
37,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2023-09-01
38,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2023-10-01
39,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2023-10-01
40,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2023-11-01
41,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2024-01-01
42,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2024-02-01
43,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2024-03-01
44,245441,GOOD SAMARITAN SOCIETY - ALBERT LEA,MN,5,4,2024-04-01

##  5-star-to-1-star in other states

Script language:
> A SCRIPPS NEWS ANALYSIS FOUND 397 FOUR AND FIVE STAR NURSING HOMES ACROSS THE COUNTRY COULD POTENTIALLY HAVE JUST ONE STAR BY ANOTHER STATE‚ÄôS STANDARDS.

In [10]:
%%sql

create table ratings_and_scores as
select "CMS CERTIFICATION NUMBER (CCN)" ccn, 
	cast("Overall Rating" as integer) overall, 
	cast( "Health Inspection Rating" as integer) inspection,
	cast( "QM Rating" as integer) qm,
	cast( "Long-Stay QM Rating"  as integer) long_stay_qm,
	cast( "Staffing Rating" as integer) staffing, 
	cast( "Total Weighted Health Survey Score" as double ) score, 
	"Abuse Icon" as abuse,
	"Provider Name" provider_name, 
	"State" provider_state
from "../data/source/nursinghome-compare/2024/02/NH_ProviderInfo_Feb2024.parquet";

/* A table of the minimum cutoffs across all states for each star tier */
create table cutoffs as
select
	min(cast(replace("1 star", '>', '') as double)) one_star,
	min(cast(left("2 stars", instr("2 stars", '-') - 1) as double ) )  two_star,
	min(cast(left("3 stars", instr("3 stars", '-') - 1) as double ) ) three_star,
	min(cast(left("4 stars", instr("4 stars", '-') - 1) as double ) ) four_star
from '../data/source/nursinghome-compare/2024/02/NH_HlthInspecCutpointsState_Feb2024.parquet';

/* The overall rating is calculated by combining health inspection rating with the staffing and QM ratings. 
This table recalculates that score using the most stringent state's 1-star cutoff. HIGHER RATINGS ARE WORSE.*/

create table worst_ratings as
Select *, worst_inspection + staffing_modifier + qm_modifier as worst_rating
From (Select ratings_and_scores.*,
       case when score >= (select one_star   from cutoffs) then 1 
	    when score >= (select two_star   from cutoffs) then 2
	    when score >= (select three_star from cutoffs) then 3
	    when score >= (select four_star  from cutoffs) then 4
	    else 5 end as worst_inspection,
	case staffing when 5 then 1 when 1 then -1 else 0 end as staffing_modifier,
	case qm when 5 then 1 when 1 then -1 else 0 end as qm_modifier
       From ratings_and_scores);

Empty DataFrame
Columns: [Success]
Index: []

In [12]:
%sql select * from cutoffs

   one_star  two_star  three_star  four_star
0    33.667    20.668      13.334      3.334

In [13]:
%sql select overall, worst_inspection, count(*) from worst_ratings group by 1, 2 order by 2, 1;

    overall  worst_inspection  count_star()
0       1.0                 1          3388
1       2.0                 1          2700
2       3.0                 1          1884
3       4.0                 1          1036
4       5.0                 1           513
5       NaN                 1            87
6       1.0                 2            73
7       2.0                 2           283
8       3.0                 2           620
9       4.0                 2           658
10      5.0                 2           500
11      1.0                 3             7
12      2.0                 3            77
13      3.0                 3           274
14      4.0                 3           441
15      5.0                 3           548
16      1.0                 4             1
17      2.0                 4             6
18      3.0                 4            92
19      4.0                 4           428
20      5.0                 4           907
21      3.0                 5             3
22      4.0                 5            25
23      5.0                 5           283
24      NaN                 5            59

In [14]:
# Overall ratings (rows) compared to calculated ratings with the lowest cutpoint for health inspections (columns)
%sql PIVOT worst_ratings ON worst_rating USING COUNT(*) GROUP BY OVERALL;

   overall   -1     0     1     2    3    4    5    6   7
0      NaN    0     0    87     0    0    0   59    0   0
1      1.0  328  1949  1190     1    1    0    0    0   0
2      2.0   14   492  1951   587   20    2    0    0   0
3      3.0    1   117  1287  1179  286    2    1    0   0
4      4.0    0     3   386  1079  669  444    7    0   0
5      5.0    0     0     8   426  559  756  675  265  62

In [15]:
# The number of homes national currently have 4 or 5 overall star ratings but would have a 1 star rating in the state with the lowest cut-point (Alabama)
%sql select count(*) from worst_ratings where overall >= 4 and worst_rating <= 1;

   count_star()
0           397

In [19]:
# The above counts grouped by state
%sql select provider_state, count(*) from worst_ratings where overall >= 4 and worst_rating <= 1 group by 1 order by 2 desc;

   provider_state  count_star()
0              CA            78
1              IL            51
2              MI            38
3              MO            30
4              WA            26
5              AR            25
6              OH            23
7              MA            20
8              MD            17
9              WV            14
10             VA            14
11             OR            12
12             OK            10
13             NM             8
14             CO             7
15             NV             6
16             KS             3
17             DE             3
18             RI             3
19             TX             2
20             ID             2
21             DC             2
22             HI             2
23             PR             1

In [17]:
%%sql
/* State cutoffs */
select "State",
	min(cast(replace("1 star", '>', '') as double)) one_star,
	min(cast(left("2 stars", instr("2 stars", '-') - 1  ) as double ) )  two_star,
	min(cast(left("3 stars", instr("3 stars", '-') - 1  ) as double ) ) three_star,
	min(cast(left("4 stars", instr("4 stars", '-') - 1  ) as double ) ) four_star
from '../data/source/nursinghome-compare/2024/02/NH_HlthInspecCutpointsState_Feb2024.parquet'
GROUP by 1
Order by 2 desc;

   State  one_star  two_star  three_star  four_star
0     DC   224.500   138.001      70.668     31.334
1     NM   218.000   140.668      93.334     44.001
2     IL   187.750   101.668      60.001     25.334
3     WA   183.083   118.834      78.001     42.668
4     MI   165.167    92.334      57.334     26.668
5     RI   153.333    81.001      46.668     18.668
6     CA   149.333    96.668      64.668     34.668
7     MO   144.500    75.334      47.334     24.001
8     VT   139.333    50.668      16.668      3.334
9     HI   138.667    92.668      58.334     38.668
10    OR   138.167    81.001      52.668     32.001
11    MD   136.500    78.668      48.668     21.334
12    WV   126.333    76.001      48.001     30.668
13    MA   123.333    66.834      44.668     20.001
14    MT   121.333    63.334      37.334     16.001
15    VA   120.667    68.668      39.334     19.334
16    AK   115.500    76.668      38.668     19.001
17    ID   112.500    70.001      41.334     21.334
18    TX   112.083    56.668      35.334     17.334
19    NV   110.667    75.334      44.668     29.334
20    OH   110.000    60.668      38.668     16.001
21    GU   109.167    56.668      32.001     12.001
22    CO   105.333    63.334      42.001     20.668
23    WI   102.667    47.334      24.001      8.668
24    KS   100.417    57.334      38.001     19.334
25    NC    98.917    46.668      20.668      6.001
26    OK    98.000    56.501      34.668     13.334
27    PA    97.667    52.001      26.001      7.668
28    AR    96.000    69.334      50.668     32.001
29    DE    95.333    64.668      53.334     22.668
30    IA    93.167    43.501      18.668      6.001
31    PR    91.667    88.801      53.168     34.668
32    UT    91.333    46.001      31.201      9.334
33    MN    87.333    50.001      28.001     11.334
34    IN    83.333    45.334      29.334     14.668
35    LA    79.833    46.001      27.334     10.668
36    FL    78.667    41.334      23.334      9.601
37    CT    78.667    52.001      34.001     16.668
38    TN    78.667    34.001      17.334      8.001
39    WY    77.467    44.001      26.001     13.334
40    SC    77.333    39.501      22.001      7.334
41    KY    72.333    28.668      17.334      6.668
42    NE    69.333    40.001      26.001     13.334
43    MS    63.333    29.334      16.668      7.334
44    ME    58.667    37.668      27.334     12.668
45    NJ    57.667    30.001      20.001      8.001
46    GA    56.667    30.668      18.001      6.001
47    AZ    56.000    38.668      25.334     12.001
48    ND    55.833    28.668      16.001      8.668
49    SD    51.000    25.334      13.334      5.334
50    NY    43.833    28.001      17.334      8.668
51    NH    38.667    20.668      14.001      8.001
52    AL    33.667    21.334      13.334      6.001